<mat-toolbar>
  <mat-toolbar-row>
    <!-- <button mat-raised-button class="edit-btn" color="primary">Edit</button> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="example-container">
  <form class="example-container" [formGroup]="DigitalizeformGroup" (ngSubmit)="digitalizeAds()">
  <mat-form-field>
    <input matInput placeholder="RO Number" [formControl]="RONumber" [(ngModel)]="digitalize.RONumber" required />
     <mat-error *ngIf="RONumber.invalid">RO Number is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone" type="tel" [formControl]="Phone" [(ngModel)]="digitalize.Phone" required />
    <mat-error *ngIf="Phone.invalid">Phone is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Category" [formControl]="Category" (change)="loadSubCategories($event, digitalize.Category)" [(ngModel)]="digitalize.Category" required>
      <mat-option value="null">Select a Category</mat-option>
      <mat-option value="{{category.id}}" *ngFor="let category of categories | async">{{category.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="Category.invalid">Category is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sub Category" [formControl]="SubCategory" [disabled]="!digitalize.Category" [(ngModel)]="digitalize.SubCategory" required>
      <mat-option value="null">Select a Sub Category</mat-option>
      <mat-option class="title-case" value="{{subcategory.id}}" *ngFor="let subcategory of subCat | async">{{subcategory.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="SubCategory.invalid">SubCategory is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Publish On" [formControl]="PublishOn" [(ngModel)]="digitalize.publishOn" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="PublishOn.invalid">Publish On is required.</mat-error>
  </mat-form-field>

<div>
      <button mat-raised-button color="basic" type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit" >Submit</button>
</div>
</form>

</div>
